body {
    margin: 0 0 0 0;
    padding: 0;
    font-family: 'Arial', serif;
    font-size: 20px;
    overflow: visible;
}
#Maria_Sharapova {
    height: 500px;
    width: 900px;
}
#msb {
    height: 600px;
    width: 1100px;
}

img {
    width: auto;
    height: auto;
    max-height: 18rem;
    max-width: 24rem;
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 5px;
}
#content {
    margin: 230px 0 0px 0;
    padding: 10px 0 10px 0;
    background-color: white;
}

.container {
    background-color: white;
    opacity: 0.9;
    margin-top: 20px;
    width: 100%
}

#content_wrapper {
    position: relative;
    margin: auto;
    color: #000000;
}

#header_content {
    font-size: 27px;
}

.bg-dark {
    background-color: black!important;
}

.footer-copyright {
    background-color: black;
    color: white;
    font-family: 'Arial', serif;
    font-size: 15px;
    
}
