@import 'styles.css';

h2 {
    margin: 40px;
    margin-bottom: 100px;
    font-family: "Arial", serif;
    font-weight: 300;
    text-align: center;
    color: #333;
}

.container {
    min-height: 54.25rem;
}

.table-responsive {
    display: inline-table;
}

@media screen and (max-width: 1050px) {
    .main-text > h2 {
        padding-top: 60px;
    }
}

